.detalk-container .input-data {
	display: flex;
	flex-direction: row;
}
.detalk-container .avatar img {
	border-radius: 6px;
	flex-shrink: 0;
	height: 2.5rem;
	width: 2.5rem;
	overflow: hidden;
	text-align: center;
	border-radius: 5px;
    user-select: none;
}

.detalk-container .input-data .input-area {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-left: 0.5rem;
}

.detalk-container .border_error {
	border: 1px solid red!important;
}
.detalk-container .input-data .input-area input {
	width: 65%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	height: 32px;
	line-height: 32px;
	color: currentColor;
	background-color: transparent;
	border-color: rgba(144, 147, 153, 0.31);
	-webkit-appearance: none;
	background-color: transparent;
	border-radius: 0 4px 4px 0;
	border: 1px solid rgba(144,147,153,0.31);
	box-sizing: border-box;
	/* color: rgba(0, 0, 0, 0.8); */
	display: inline-block;
	height: 40px;
	line-height: 40px;
	outline: 0;
	padding: 0 15px;
	transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
	width: 100%;
    font-family: monospace;
}

/* @media screen and (min-width: 568px) {
    .detalk-container .input-data .input-area input {
        width: 32%!important;
    }
    .detalk-container .input-data .input-area {
        display: inline;
    }
    .detalk-container .input-data .input-area .mgr-2p {
        margin-right: 1.5%;
    }
} */

.detalk-container ::-webkit-scrollbar {
    width: 1px;
    height: 3px;
}

.detalk-container ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.detalk-container ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

.detalk-container .reply {
	display: flex;
}
.detalk-container .input-data .input-area textarea {
    margin-bottom: 0.5rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	height: 32px;
	color: currentColor;
	background-color: transparent;
	border-color: rgba(144, 147, 153, 0.31);
	-webkit-appearance: none;
	/* background-color: #fff; */
	border-radius: 4px;
	border: 1px solid rgba(144,147,153,0.31);
	box-sizing: border-box;
	/* color: rgba(0, 0, 0, 0.8); */
	display: inline-block;
	height: 40px;
	line-height: 40px;
	outline: 0;
	padding: 5px 15px;
	transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
	width: 100%;
    resize: vertical;
    font-family: monospace;
    line-height: 1.2rem;
}


.detalk-container .action-btn-group {
	position: relative;
	margin-top: 0;
	margin-bottom: 1rem;
	margin-left: 3.5rem;
	align-items: center;
	justify-content: flex-end;
	display: flex;
}

.detalk-container .action-btn-group .action-btn .sec-btn {
	background-color: rgba(144, 147, 153, 0.063);
	border-color: rgba(144, 147, 153, 0.31);
    border-radius: 6px;
	color: currentColor;
}

.detalk-container .action-btn-group .action-btn .word-limit {
    text-align: end;
    opacity: 0.7;
    font-size: 0.9rem;
    margin-right: 0.4rem;
}
.detalk-container .action-btn-group .action-btn .fst-btn.disabled {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(64, 158, 255, 0.5);
	border-color: transparent;
    border-radius: 6px;
    cursor: not-allowed;
}

.detalk-container .action-btn-group .action-btn .fst-btn.enabled {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(64, 158, 255, 1);
	border-color: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.detalk-container .cm-btn {
	font-size: 12px;
	border-radius: 3px;
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #dcdfe6;
	color: #606266;
	-webkit-appearance: none;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	margin: 0;
	-webkit-transition: 0.1s;
	transition: 0.1s;
	font-weight: 500;
    user-select: none;
	padding: 10px 20px;
	font-size: 14px;
	border-radius: 4px;
}

.detalk-container .mr-cmt {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	word-break: break-all;
    padding: 10px;
    border-radius: 6px;
    transition: all .3s;
}
.detalk-container .mr-cmt:hover {
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}
.detalk-container .hover_show {
	opacity: 0;
	transition: all .3s;
}
.detalk-container .mr-cmt:hover .hover_show {
    opacity: 0.6;
}

.detalk-container .mr-cmt .cmt-main {
	margin-left: 1rem;
	flex: 1;
	width: 0;
}

.detalk-container .mr-cmt .cmt-main .cmt-data {
	flex: 1;
	/* display: flex; */
	flex-direction: row;
	justify-content: space-between;
    user-select: none;
}

.detalk-container .mr-cmt .cmt-main .cmt-content {
    margin-top: 0.3rem;
	opacity: 0.8;
}

.comment-container._detalk_loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.detalk-container .filter {
	opacity: 0.65;
	padding-left: 3rem;
	cursor: pointer;
	/* opacity: 0; */
	transition: all .3s;
}
.detalk-container .cmt_date {
	opacity: 0.65;
}
.detalk-container hr {
	margin-top: 20px;
    margin-bottom: 20px;
	background-color: rgba(144,147,153,0.31);
	border: 1px solid rgba(144,147,153,0.31);
}

.detalk_copyright {
	text-align: end;
	opacity: 0.7;
	font-size: 0.9rem;
	margin-right: 0.4rem;
	margin-top: 35px;
}

.detalk-container .cmt-content a, .detalk_copyright a {
	color: rgba(64, 158, 255, 1);
	text-decoration: none;
	transition: all .3s;
}

.detalk-container .cmt-content a:hover, .detalk_copyright a:hover {
	color: rgb(38, 134, 229);
	text-decoration: underline;
}

.detalk-container .cmt-content h1 {
	font-size: 1.8rem;
}

.detalk-container .cmt-content blockquote {
	padding: 0 1em;
    border-left: 0.25em solid #dfe2e5;
	margin: 0;
}

.detalk-container .cmt-content code {
	padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    color: currentColor;
}
.detalk-container .cmt-content pre {
	padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
	color: currentColor;
}
.detalk-container .cmt-content pre code {
	background-color: transparent;
	padding: 0;
}
.detalk-container {
	transition: all .3s;
}
.detalk-container .input-label {
	display: inline-flex;
    width: 100%;
    margin-bottom: 0.5rem;
}
.detalk-container .input-label label {
	width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.05);
    border-color: rgba(144, 147, 153, 0.31);
    border: 1px solid rgba(144,147,153,0.31);
    border-radius: 4px 0 0 4px;
	font-size: 0.9rem;
	opacity: 0.9;
}
.detalk-container .content-preview {
	background: rgba(0,0,0,0.05);
    border-color: rgba(144, 147, 153, 0.31);
    border: 1px solid rgba(144,147,153,0.31);
	padding: 0 10px;
	border-radius: 4px;
	display: none;
}

.detalk-container .input-oneline {
	display: flex;
}

.detalk-container .input-oneline .input-label {
	width: 33%;
}
.detalk-container .input-oneline .input-label:not(:last-child) {
	margin-right: 1%;
}